* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  font-weight: bold;
  position: fixed;
  z-index: 99999;
  font-size: 12px;
  width: 100%;
  height: 60px;
}

.logo-link {
  font-size: 18px;
  float: left;
  display: block;
  color: white;
  height: 40px;
}

.logo-link span {
  display: inline-block;
  line-height: 40px;
  padding-left: 10px;
}

.logo {
  height: 40px;
  width: 40px;
  float: left;
}

.header-nav {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.nav-links {
  float: right;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 20px;
}

.nav-links a {
  text-align: center;
  line-height: 40px;
  color: white;
  display: block;
  text-decoration: none;
}

.button {
  box-sizing: border-box;
  background-color: red;
  border-radius: 3px;
  height: 40px;
  width: 96px;
}

.wrapper {
  background-image: url(../img/sc1.jpg);
  width: 100%;
  height: 640px;
}

.screen {
  position: relative;
  box-sizing: border-box;
  color: white;
  height: 640px;
  width: 1200px;
  margin: 0 auto;
}

.jumbotron dl {
  width: 400px;
  height: 98px;
  position: absolute;
  margin: auto;
  inset: 0;
}

.screen h1 {
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
}

.screen span {
  display: block;
  text-align: center;
  font-size: 15px;
  margin-top: 24px;
}

.case-wrapper {
  background-color: rgb(243, 245, 247);
}

.case {
  position: relative;
  color: black;
}

.case dl {
  position: relative;
  top: 89px;
}

hr {
  display: block;
  width: 50px;
  border-top: 3px solid red;
  border-radius: 0;
  margin: auto;
}

.imgs {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 750px;
  height: 380px;
  margin: auto;
}

.imgs img {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 100%;
}

#man {
  height: 100%;
  z-index: 3;
}

#rocket {
  width: 269px;
  height: 200px;
  top: -30px;
  right: -200px;
  z-index: 2;
}

#bat {
  height: 361px;
  z-index: 1;
}

.course-wrapper {
  background-color: rgb(43, 51, 59);
}

.course dl {
  position: relative;
  left: 630px;
  top: 229px;
  width: 520px;
  height: 214px;
  box-sizing: border-box;
}

.course dl h1,
.course dl span {
  text-align: left;
}

#course {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 99%;
  margin: auto;
}

.course hr {
  position: relative;
  right: 0px;
  margin: 0;
  color: rgb(43, 51, 59);
}
.course ul {
  position: absolute;
  list-style: none;
  bottom: 48px;
  left: 630px;
}

.course li {
  margin: 0 13px;
  float: left;
  box-sizing: border-box;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 5px solid;
  line-height: 60px;
}

li.html5 {
  border-color: rgb(31, 89, 117);
  color: rgb(2, 176, 255);
}

li.php {
  border-color: rgb(63, 72, 111);
  color: rgb(120, 136, 253);
}

li.java {
  border-color: rgb(107, 65, 70);
  color: rgb(255, 96, 96);
}

li.python {
  border-color: rgb(41, 83, 95);
  color: rgb(34, 199, 229);
}

li.nodejs {
  border-color: rgb(62, 78, 64);
  color: rgb(131, 189, 80);
}

.course li span {
  margin: 0;
  font-size: 10px;
}

.environment dl {
  color: black;
  position: relative;
  top: 89px;
}

.features {
  position: relative;
  top: 81px;
  margin: auto;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 1000px;
}

.features li {
  display: inline-block;
  margin: 0 50px;
}

.features li {
  text-align: center;
}

.features span {
  margin-top: 25px;
  font-size: 16px;
}

.cloud-wrapper {
  background: url(../img/sc5.jpg);
  width: 100%;
  height: 640px;
}

.cloud img {
  height: 204px;
  width: 204px;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  margin: auto;
}

.cloud dl {
  position: absolute;
  top: 362px;
  right: 0;
  left: 0;
  margin: auto;
}

.cloud hr {
  border-color: white;
}

.continue {
  height: 200px;
  position: relative;
}

.continue button {
  box-sizing: border-box;
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  width: 240px;
  height: 60px;
  background-color: white;
  border: rgb(112, 112, 112) solid 1px;
  border-radius: 3px;
  margin: auto;
  font-size: 18px;
}

aside {
  position: fixed;
  right: 0;
  bottom: 50px;
  height: 250px;
  width: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.side-nav-links {
  list-style: none;
}

.side-nav-link {
  text-decoration: none;
  display: block;
  color: black;
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  background-color: white;
}
footer {
  box-sizing: border-box;
  height: 106px;
  background-color: black;
  padding: 33px 0;
}

.footer-nav {
  height: 11px;
  line-height: 11px;
  margin-bottom: 13px;
}

footer ul {
  list-style: none;
  height: 11px;
  margin: 0;
  padding: 0;
  line-height: 11px;
  text-align: center;
}

footer li {
  display: inline-block;
  height: 11px;
  line-height: 11px;
  margin: 0 17px;
}

footer a {
  display: block;
  font-size: 11px;
  text-decoration: none;
  color: white;
  line-height: 11px;
  height: 11px;
}

footer p {
  font-size: 16px;
  color: grey;
  text-align: center;
}
