* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* 头部 */
header {
  font-weight: bold;
  position: fixed;
  z-index: 99999;
  font-size: 12px;
  width: 100%;
  height: 60px;
  background: linear-gradient(black, transparent);
}

.logo-link {
  font-size: 18px;
  float: left;
  display: block;
  color: white;
  height: 40px;
}

.logo-link:hover {
  color: lightcoral;
}

.logo {
  height: 40px;
  width: 40px;
  float: left;
}

.logo-link span {
  display: inline-block;
  line-height: 40px;
  padding-left: 10px;
  transition: ease 0.3s;
}

.header-nav {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.nav-links {
  position: relative;
  float: right;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 20px;
}

.nav-links a {
  text-align: center;
  line-height: 40px;
  color: white;
  display: block;
  text-decoration: none;
}

.nav-links span {
  position: absolute;
  left: 0;
  top: 40px;
  left: 20px;
  width: 48px;
  border: none;
  border-top: 2px solid red;
  border-top: 2px solid red;
  transition: 0.3s ease-in-out;
}

span.hover-2 {
  left: 111px;
}
span.hover-3 {
  left: 202px;
}
span.hover-4 {
  left: 293px;
}
span.hover-5 {
  left: 384px;
}

.button {
  box-sizing: border-box;
  background-color: red;
  border-radius: 3px;
  height: 40px;
  width: 96px;
  transition: 0.3s ease-in-out;
}

a.button:hover {
  background-color: crimson;
}

/* 大屏背景图 */
.wrapper {
  background-image: url(../img/sc1.jpg);
  width: 100%;
  height: 640px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 大屏 */
.screen {
  position: relative;
  box-sizing: border-box;
  color: white;
  height: 640px;
  width: 1200px;
  margin: 0 auto;
}

/* 第一屏 */
.jumbotron dl {
  width: 400px;
  height: 93px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.screen h1 {
  position: relative;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
  opacity: 0;
}

.screen span {
  position: relative;
  display: block;
  text-align: center;
  font-size: 15px;
  margin-top: 24px;
  opacity: 0;
}

.jumbotron h1 {
  animation: h1Appears 1s ease-in-out forwards;
}

.jumbotron span {
  animation: spanAppears 1s ease-in-out 0.5s forwards;
}

/* 第二屏 */
.case-wrapper {
  background-color: rgb(243, 245, 247);
}

.case {
  position: relative;
  color: black;
}

.case dl {
  position: relative;
  top: 89px;
}

.case.animated h1 {
  animation: h1Appears 1s ease-in-out forwards;
}

.case.animated span {
  animation: spanAppears 1s ease-in-out 0.5s forwards;
}

.case.animated hr {
  animation: spanAppears 1s ease-in-out 0.5s forwards;
}

hr {
  position: relative;
  display: block;
  width: 50px;
  border: 3px solid red;
  border-radius: 0;
  margin: auto;
  opacity: 0;
}

.imgs {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 750px;
  height: 380px;
  margin: 0 auto;
}

.imgs img {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

#man {
  height: 100%;
  z-index: 2;
  top: -360px;
  opacity: 0;
}

.case.animated #man {
  animation: manAppears 1s ease-in-out 0.5s forwards;
}

#bat {
  top: 20px;
  height: 361px;
}

#rocket {
  width: 269px;
  height: 200px;
  top: 0px;
  right: -100px;
}

.case.animated #rocket {
  animation: rocketLaunch 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) 2s forwards;
}

/* 第三屏 */
.course-wrapper {
  width: 100%;
  position: relative;
  background-color: rgb(43, 51, 59);
  z-index: 10;
}

.course dl {
  position: relative;
  left: 630px;
  top: 229px;
  width: 520px;
  height: 214px;
  box-sizing: border-box;
}

.course dl h1,
.course dl span {
  text-align: left;
}

#atom {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 200px;
  height: 20%;
  margin: auto;
}

.course.animated #atom {
  animation: atomExplode 0.1s forwards;
}

.course hr {
  position: relative;
  right: 0px;
  margin: 0;
  color: rgb(43, 51, 59);
}

.course.animated h1 {
  animation: h1Appears 1s ease-in-out forwards;
}

.course.animated span {
  animation: spanAppears 1s ease-in-out 0.5s forwards;
}

.course.animated hr {
  animation: spanAppears 1s ease-in-out 0.5s forwards;
}

.course ul {
  position: absolute;
  list-style: none;
  bottom: -100px;
  left: 630px;
  transition: ease 1s;
  transition-delay: 2s;
  height: 70px;
}

.course.animated ul {
  bottom: 48px;
  animation: coursesAppear 2s ease 3s forwards;
}

.course li {
  margin: 1px 13px;
  display: inline-block;
  box-sizing: border-box;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 5px solid;
  line-height: 58px;
  text-align: center;
}

.course li span {
  display: inline;
}

.course.animated li {
  animation: coursesBreathe 1s ease-out 3s forwards;
}

li.html5 {
  border-color: rgb(31, 89, 117);
  color: rgb(2, 176, 255);
}

li.php {
  border-color: rgb(63, 72, 111);
  color: rgb(120, 136, 253);
}

li.java {
  border-color: rgb(107, 65, 70);
  color: rgb(255, 96, 96);
}

li.python {
  border-color: rgb(41, 83, 95);
  color: rgb(34, 199, 229);
}

li.nodejs {
  border-color: rgb(62, 78, 64);
  color: rgb(131, 189, 80);
}

.course li span {
  margin: 0;
  font-size: 10px;
}

/* 第四屏 */
#environment {
  position: relative;
  z-index: 999;
  background-color: white;
}

#environment dl {
  color: black;
  position: relative;
  top: 89px;
}

.features {
  position: relative;
  top: 81px;
  margin: auto;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 1000px;
}

.features li {
  display: inline-block;
  margin: 0 50px;
}

.features li {
  text-align: center;
  transform: scale(0);
}

.features span {
  margin-top: 25px;
  font-size: 16px;
}

li.feature span {
  opacity: 100%;
}

.environment.animated h1 {
  animation: h1Appears 1s ease-in-out forwards;
}

.environment.animated dd > span {
  animation: spanAppears 1s ease-in-out 1s forwards;
}

.environment.animated hr {
  animation: spanAppears 1s ease-in-out 1s forwards;
}

.environment.animated li.feature {
  animation: featureExpand 1s ease forwards;
}

/* 第五屏 */
.cloud-wrapper {
  background: url(../img/sc5.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 640px;
}

.cloud img {
  height: 204px;
  width: 204px;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  margin: auto;
  transform: scale(0);
  transition: 1s ease;
}

.cloud dl {
  position: absolute;
  top: 362px;
  right: 0;
  left: 0;
  margin: auto;
}

.cloud hr {
  border-color: white;
}

.cloud.animated img {
  transform: scale(1);
}

.cloud.animated h1 {
  animation: h1Appears 1s ease-in-out forwards;
}

.cloud.animated dd > span {
  animation: spanAppears 1s ease-in-out 1s forwards;
}

.cloud.animated hr {
  animation: spanAppears 1s ease-in-out 1s forwards;
}

/* 继续学习 */
.continue {
  height: 200px;
  position: relative;
}

.continue button {
  box-sizing: border-box;
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  width: 240px;
  height: 60px;
  background-color: white;
  border: rgb(112, 112, 112) solid 1px;
  border-radius: 3px;
  margin: auto;
  font-size: 18px;
  transition: 0.3s ease;
}

.continue button:hover {
  color: red;
}
/* 侧导航 */
aside {
  position: fixed;
  right: 0;
  bottom: 150px;
  height: 250px;
  width: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 100000;
}

.side-nav-links {
  list-style: none;
}

.side-nav-link {
  display: block;
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  background-color: white;
}

.side-nav-link a {
  text-decoration: none;
  color: black;
}

.side-nav-link a:hover {
  color: red;
}

/* 页脚 */
footer {
  box-sizing: border-box;
  height: 106px;
  background-color: black;
  padding: 33px 0;
}

.footer-nav {
  height: 11px;
  line-height: 11px;
  margin-bottom: 13px;
}

footer ul {
  list-style: none;
  height: 11px;
  margin: 0;
  padding: 0;
  line-height: 11px;
  text-align: center;
}

footer li {
  display: inline-block;
  height: 11px;
  line-height: 11px;
  margin: 0 17px;
}

footer a {
  display: block;
  font-size: 11px;
  text-decoration: none;
  color: white;
  line-height: 11px;
  height: 11px;
}

footer a:hover {
  color: red;
}

footer p {
  font-size: 16px;
  color: grey;
  text-align: center;
}

/* 定义关键帧 */
@keyframes h1Appears {
  from {
    opacity: 0;
    top: 80px;
  }
  to {
    opacity: 100%;
    top: 0;
  }
}

@keyframes spanAppears {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 100%;
    top: 0;
  }
}

@keyframes manAppears {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes rocketLaunch {
  0% {
    top: 0px;
  }
  70%,
  90% {
    top: -700px;
  }
  80% {
    top: -640px;
  }
  100% {
    top: -660px;
  }
}

@keyframes atomExplode {
  from {
    left: 200px;
    height: 20%;
  }
  to {
    left: 100px;
    height: 80%;
  }
}

@keyframes coursesBreathe {
  0% {
    width: 68px;
    height: 68px;
    line-height: 58px;
    margin: 1px 13px;
  }
  50% {
    width: 70px;
    height: 70px;
    line-height: 58px;
    margin: 0px 12px;
  }
  100% {
    width: 68px;
    height: 68px;
    line-height: 58px;
    margin: 1px 13px;
  }
}

@keyframes featureExpand {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
